html, body{
    height:100%;
    width:100%;
}

h1 {
	color: green;
}

input {
	width: 5%;
	text-align: center;
}


.btn.btn-info {
	color: white;
	background-color: #1f2f49;
	border: solid #1f2f49 1px;
}

.container-fluid {
  text-align: center;
  height: 100%;

}

.row {
  height: 100%;
  /*background-color: gray;*/
  /*background-image:url(https://www.tennisworldusa.org/imgb/65527/roger-federer-explains-why-he-created-the-laver-cup.jpg);*/
  background-image: url(../../PassInterference2/BabyChub.jpg);
}

.rowHeight {
  padding-top: 17%;
}

/*.rowHeight {
  color: blue;
  padding-top: 15%;
  overflow: hidden;
  vertical-align: center;
  padding-top: 25px;
}*/

.tileColor {
	color: green;
}

.toggle-finished {
	color: white;;
}

.toggle-correct {
	color: green;
	font-weight: bold;
	border: green solid 2px;
}

.toggle-incorrect {
	border: red solid 2px;
	color: black;
}

.clear {
	border: black solid 0.5px;
	color: black;
}

#formID2 {
	display:none;
}

.tileClass {
  border: blue solid 2px;
  width: 18%;
  height: 85px;
  margin: 0px 0px;
}

.lightbox {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
 }

.modal-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 36rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
